.deleteCard__holder{
   height: inherit;
   width: inherit;
    position: relative;
    background-color: red;
    display: flex;
    border-radius: 50px;
    justify-content: center;
    align-items: baseline;
    box-shadow: 0px 3px 10px 1px #888888;
   
}

.deleteCard__sign{
    bottom: -3px;
    position: absolute;    
    padding: 0px!important;
    margin: 0px!important;
    /* display: inline; */
    font-size: 70px;
    /* background-color: aquamarine; */
    font-weight: 600;
    /* font */
    color: white;

}
.deleteCard{
    height: 80px;
    width: 80px;
    position: absolute;
    bottom:-40px;
    
    /* display: none; */
}

.over{
    height: 100px;
    width: 100px;
}

.deleteCard__holder:hover{
    height: 100px;
    width: 100px;
}

.true{
    display:block;
}

.false{
    display:none;
}