.addForm {
  border-radius: 10px;
  border: 1px solid #f1f4f6;
  background-color: #fff;
  box-shadow: 0 0 20px #d2d7dc;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;

  & > :last-child {
    width: 23%;
    background-color: #3ebd93;
    color: #fff;
    text-transform: uppercase;
    border-radius: 10px;
    border-width: 0;
    cursor: pointer;
    font-size: 20px;
    font-weight: lighter;
  }

  & > :first-child {
    width: 75%;
    background-color: #f0f3f8;
    border-radius: 10px;
    border-width: 0;
    padding-left: 30px;
    padding-right: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;

    & > * {
      width: 100%;
      border: 0;
      font-size: 20px;
      font-weight: 500;
      background-color: inherit;
    }

    & > :last-child {
      margin-top: auto;
      margin-bottom: auto;
      border-left: 2px solid #a0a5aa;
      height: 60%;
      padding-left: 10px;
      font-size: 14px;
      font-weight: bold;
      width: 20%;
      text-transform: uppercase;
    }
  }

  & > :first-child:focus {
    border: 1px solid #d2d7dc;
  }

  & > :first-child::placeholder {
    color: #aebfd0;
  }

  & > :last-child:disabled {
    background-color: rgb(141, 141, 141);
  }

  & > :last-child:active {
    background-color: #397;
  }
}
