.cardContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card{
    width: 60%;
    min-height: 60px;
    background-color: whitesmoke;
    padding: 0px 10px;
    margin:20px 0px;
    border-radius: 5px;
    /* box-shadow: 3px 7px rgb(73, 73, 73); */
    box-shadow: 0px 5px 10px 1px #888888;
    /* display: flex; */
    /* flex-direction: column; */
    
}

.card__content{
    
    word-wrap: break-word;
    text-transform: capitalize;
}

p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: small;
    font-weight: 500;
    color:navy;
    display: inline;
}