.card {
  width: 60%;
  min-height: 60px;
  background-color: white;
  padding: 1px 10px;
  margin: 20px 5px;
  border-radius: 5px;
  /* box-shadow: 3px 7px rgb(73, 73, 73); */
  box-shadow: 0px 3px 10px -1px #c3c3c3ff;
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
  color: white;
  position: relative;
}

.card > p {
  font-size: medium;
  font-weight: 500;
  color: rgb(67, 106, 131);
  word-break: break-word;
  padding: 2px;
  text-transform: capitalize;
  margin: 0px;
}

.card__actionContainer {
  position: absolute;
  justify-content: space-between;
  align-items: center;
  /* background-color: red; */
  height: 30px;
  width: 100%;
  display: none;
  top: -30px;
  right: 0px;
}

.card:hover .card__actionContainer {
  display: flex;
}

.false {
  display: none !important;
}
