.card {
  width: 60%;
  min-height: 60px;
  background-color: white;
  padding: 0px 5px;
  margin: 20px 0px;
  border-radius: 5px;
  /* box-shadow: 3px 7px rgb(73, 73, 73); */
  box-shadow: 0px 3px 10px -1px #c3c3c3ff;
  display: flex;
  flex-direction: column;
  justify-content: start;
  cursor: pointer;
  color: white;
  position: relative;
}

.card > p {
  font-size: medium;
  font-weight: 500;
  color: rgb(67, 106, 131);
  word-wrap: break-word;
  padding: 2px;
  text-transform: capitalize;
  margin: 0px;
}


.card__actionContainer{
  /* background-color: red;
  display: flex;
  justify-content: center;
  align-items: center; */
  position: absolute;
  justify-content: space-between;
  /* background-color: red; */
  height: 20px;
  width: 100%;
  display: none;
  top: -20px;
  right: 0px;
}

.card:hover .card__actionContainer{
  display: flex;
}


.false{
  display: none!important;
}
