.card {
  width: 55%;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  margin-bottom: 30px;
  border-radius: 8px;
  padding: 20px;
  box-sizing: border-box;
  color: #334e67;
  font-size: 20px;
  font-weight: 550;
  box-shadow: 1px 5px 5px 1px #dde3e9;
  cursor: grab;
}
