.button{
    box-sizing: border-box;
    height: 40px;
    width: 50px;
    background-color:rgb(66, 245, 155);
    flex:1;
    margin: 0px 20px;
    border-radius: 8px;
    /* display:flex; */
    border:0px;
    cursor: pointer;
    color: white;
}
.button:focus{
    outline:none;
}

/* .button:active{
color: red;
} */
.button >p{
    /* color: white; */
    color: inherit;
}

.button:active{
color:navy;
background-color:rgb(31, 207, 119);
}