input:focus,
button {
  outline: none;
}

footer {
  max-height: 100px;
  height: 90px;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #fff;

  & > :first-child {
    position: relative;
    width: 70%;

    & > :first-child {
      position: absolute;
      bottom: 50%;
      width: 100%;
      top: -40px;
    }
  }
}
