
.cardButton{ 
    width: 40px;
    cursor: pointer;
    border-radius: 6px;
    border:1px solid silver;
    color: navy;
}

.cardButton:focus{
    outline: none;
}

.cardButton:active{
    border: 1px solid black;
}