
.cardButton{ 
    width: 40px;
    font-size:small;
    font-weight: 700;
    height: 20px;
    cursor: pointer;
    border-radius: 6px;
    border:1px solid silver;
    color: white;
    padding: 0px;
}

.cardButton:focus{
    outline: none;
}

.cardButton:active{
    border: 1px solid black;
}